<div class="container my-3 text-center">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail do  %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.image_url %>)">
          <%= cocktail.name %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to 'Add a new cocktail', new_cocktail_path, class: 'btn btn-danger btn-lg btn-block my-3' %>
</div>


